@import '../../DefaultStyles/variables';

.el-Users{
	width: 450px;
	height: 500px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	padding: 50px;
	margin: 0;
	background-color: $background-color-dimmed;
	overflow-y: scroll;
	-moz-box-shadow: 3px 6px 8px 5px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 3px 6px 8px 5px rgba(0, 0, 0, 0.6);
	box-shadow: 3px 6px 8px 5px rgba(0, 0, 0, 0.6);
}
a{
	text-decoration: none;
	color: $color;
}