$background-color: #f2f2f2;
$color: #000;
$border-color: #222222;
$transparent: transparent;
$background-color-dimmed:#f2f2f22a;

$font-family: 'Roboto', sans-serif;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-size-normal: 24px;
$font-size-small: 14px;
$font-size-large: 34px;
$font-size-extra-large: 48px;