@import '../../DefaultStyles/variables';

.el-Search{
	display: flex;
	width: 450px;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	box-sizing: border-box;
	padding-top: 30px;
	-moz-box-shadow: 3px 6px 8px 5px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 3px 6px 8px 5px rgba(0, 0, 0, 0.6);
	box-shadow: 3px 6px 8px 5px rgba(0, 0, 0, 0.6);
}