@import '../../DefaultStyles/variables';
@import '../../DefaultStyles/mixins';

.el-Repos{
	width: 500px;
	height: 500px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	margin: 0 50px;
	background-color: $background-color-dimmed;
	overflow-y: scroll;
	-moz-box-shadow: 3px 6px 8px 5px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 3px 6px 8px 5px rgba(0, 0, 0, 0.6);
	box-shadow: 3px 6px 8px 5px rgba(0, 0, 0, 0.6);
	.el-Separator{
		width: 400px;
		height: 1px;
		border: 1px dotted black;
	}
}